body {
    background: #FFF;
    color: #000;
    font: 12pt serif;
}

a:link,
a:visited {
    color: #333;
    text-decoration: underline;
}

a[href]:after {
    content: " (" attr(href) ")";
}

#menu,
#lateral {
    display: none;
}

.btn {
    display: none;
}

.entrada {
    display: none;
}

#texto {
    loading="lazy" width: 100%;
    margin: auto;
}